<%- include("../../../fragments/head.ejs") %>


    <div class="page-section">
        <h2 class="page-section__title">Submitted Successfuly!</h2>
        <div class="page-section__content">
            <p>Your ticket has been Successfuly submitted, we will try to replay to you as soon as possible, please
                review your email once a while</p>
        </div>
    </div>

    <%- include("../../../fragments/end.ejs") %>