<h2>Localization</h2>
<p>Localized <code class="var2">city</code>, <code class="var2">regionName</code> and <code class="var2">country</code>
    can be requested by setting the <code class="var1">GET</code>
    parameter lang to one
    of the following:</p>
<table class="table">
    <thead>
        <tr>
            <th>lang (ISO 639)</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>en</strong></td>
            <td>English (default)</td>
        </tr>
        <tr>
            <td><strong>de</strong></td>
            <td>Deutsch (German)</td>
        </tr>
        <tr>
            <td><strong>es</strong></td>
            <td>Español (Spanish)</td>
        </tr>
        <tr>
            <td><strong>pt-BR</strong></td>
            <td>Português - Brasil (Portuguese)</td>
        </tr>
        <tr>
            <td><strong>fr</strong></td>
            <td>Français (French)</td>
        </tr>
        <tr>
            <td><strong>ja</strong></td>
            <td>日本語 (Japanese)</td>
        </tr>
        <tr>
            <td><strong>zh-CN</strong></td>
            <td>中国 (Chinese)</td>
        </tr>
        <tr>
            <td><strong>ru</strong></td>
            <td>Русский (Russian)</td>
        </tr>
    </tbody>
</table>