<%- include("../../../fragments/head.ejs") %>


    <div class="page-section">
        <h2 class="page-section__title">Check your email!</h2>
        <div class="page-section__content">
            <p>We tried to send a message with a link to the next step, pleach check your email!</p>
        </div>
    </div>

    <%- include("../../../fragments/end.ejs") %>