<%- include("../../../fragments/head.ejs") %>
    <div class="page-section">
        <h2 class="page-section__title">Account has been Verified Successfuly</h2>
        <div class="page-section__content">
            <p>Thank you for registering at IPLocator.com.</p>
            <p>You can now login into your account and enjoy our service.</p>
            <div>
                <a href="/auth/login" class="button1" style="background-color: rgb(204, 135, 7);">Login</a>
            </div>
        </div>
    </div>
    <%- include("../../../fragments/end.ejs") %>