<%- include("../../../fragments/head.ejs") %>


    <div class="page-section">
        <h2 class="page-section__title">Verification is needed!</h2>
        <div class="page-section__content">
            <p>Thank you for registering at IPLocator.com. we have sent a verification link to your email, click on it
                to finish the registration process</p>
        </div>
    </div>

    <%- include("../../../fragments/end.ejs") %>