.button1 {
    display: inline-block;
    padding-inline: 1em;
    padding-block: 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    border-radius: 2em;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: scale(1.05);

    }
}