// $navbarColor: rgb(25, 11, 153);
$bluePrimaryColor: rgb(27, 5, 109);
$blueSecondaryColor: rgb(45, 78, 185);
$orangePrimaryColor: rgb(240, 170, 66);
$orangeSecondaryColor: rgb(179, 121, 34);

$navbarColor: rgb(128, 234, 253);
$footerBgColor: rgb(128, 234, 253);
$footerColor: rgb(25, 11, 153);
$footerCategoryTitleColor: rgb(167, 27, 85);
$logoColor: rgb(167, 27, 85);

$freePlanBgColor: rgb(229, 239, 255);
$paidPlanBgColor: rgb(183, 217, 111);