<%- include("../../../fragments/head.ejs") %>
    <div class="page-section">
        <h2 class="page-section__title">Checkout was not successful</h2>
        <div class="page-section__content">
            <div style="display: flex; flex-direction:column; align-items:center ; justify-content:center;">
                <p>we are working on fixing the problem, please try another time.</p>
            </div>

        </div>
    </div>
    <%- include("../../../fragments/end.ejs") %>