<%- include("../../../fragments/head.ejs") %>


    <div class="page-section">
        <h2 class="page-section__title">Thank you for joining Us!</h2>
        <div class="page-section__content">
            <div style="display: flex; flex-direction:column; align-items:center ; justify-content:center;">
                <p>Your Subscription is active now</p>
            </div>
        </div>
    </div>

    <%- include("../../../fragments/end.ejs") %>