</main>
<footer class="footer">
    <div class="horizontal-split">
        <div class="footer__left">
            <div class="logo">
                <a href="/">
                    <span>
                        <%= locals.APP_NAME%>
                    </span>
                </a>
            </div>
            <p class="footer__left__aboutUs">Welcome to <%= locals.APP_NAME%>, the home of IP Geolocation, security and
                    privacy
                    resources.
            </p>
        </div>
        <div class="footer__right">
            <div class="footer-links">
                <ul class="footer-links-group" data-title="pages">
                    <li class="links-item"><a href="/">Home</a></li>
                    <li class="links-item"><a href="/pricing">Pricing</a></li>
                    <li class="links-item"><a href="/news">News</a></li>

                </ul>
                <ul class="footer-links-group" data-title="developer">
                    <li class="links-item"><a href="/docs">API</a></li>
                    <li class="links-item"><a href="#">Samples</a></li>
                </ul>
                <ul class="footer-links-group" data-title="resources">
                    <li class="links-item"><a href="#">Web hosting</a></li>
                    <li class="links-item"><a href="#">VPN</a></li>
                </ul>
                <ul class="footer-links-group" data-title="Info">
                    <li class="links-item"><a href="/legal">Terms of Service</a></li>
                    <li class="links-item"><a href="/privacy-policy">Privacy Policy</a></li>
                    <li class="links-item"><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>


</html>