<%- include("../../fragments/head.ejs") %>


    <div class="pricing page-section">
        <h2 class="page-section__title">Bad URL</h2>
        <div class="page-section__content">
        </div>
    </div>

    <%- include("../../fragments/end.ejs") %>