<%- include("../../fragments/head.ejs") %>


    <div class="pricing page-section">
        <h2 class="page-section__title">Server Maintenance</h2>
        <div class="page-section__content">
            <p>We are deeply sorry to say that the server side is going under maintenance, Please try later</p>
        </div>
    </div>

    <%- include("../../fragments/end.ejs") %>