<%- include("../../fragments/head.ejs") %>


    <div class="pricing page-section">
        <h2 class="page-section__title">Server Issue</h2>
        <div class="page-section__content">
            <p>Ops!, Something went wrong</p>
        </div>
    </div>

    <%- include("../../fragments/end.ejs") %>