<%- include("../../fragments/head.ejs") %>


    <div class="pricing page-section">
        <h1 class="page-section__title">Full Privacy Policy (NOT REAL PRODUCT)</h1>
        <div class="page-section__content">
            <article>
                <section>
                    <h2>Privacy Policy</h2>
                    <p>Privacy Policy
                        The present Privacy Policy ("Policy") contains a description and refers to the personal data
                        collected on members.<%=locals.APP_URL%>.

                            Purpose

                            "Personal data" or "personal information" is any element that allow us to identify you as a
                            person. Personal data processing is governed by Regulation 679/2016 regarding personal data
                            protection ("GDPR") and completed in Romania by Law no. 190/2018.

                            We take very seriously the personal data privacy and protection of our clients, and this
                            document shows:

                            the personal data that we are collecting from you
                            how we intend to use this data
                            what rights you have related to these data and their processing
                            Who controls your personal data and how can you contact us?

                            According to the legislation, our company, Artia International S.R.L., is a personal data
                            controller. We have made every effort to implement reasonable measures to protect your
                            personal
                            information.

                            As per legal provisions, you, as an individual, beneficiary of our services or in any type
                            of
                            relationship with our company, are a "target person", meaning a natural person identified or
                            identifiable. In order to be transparent in personal data processing and to allow you to
                            easily
                            exercise, in any moment, the rights, we have implemented measures to facilitate
                            communication
                            between us, the data controller and you, target person.</p>




                    <p>If you have any concerns, comments or complains about us or the personal data that we process for
                        you, you may always send us an email at the address above.</p>

                    <h3>Supervisory authority data</h3>

                    <p>If you think there is a problem with the processing of your personal data, we ask you to send us
                        a request at the above address first – we will do our best to amicable resolve your request as
                        soon as possible.
                        Also, you may file a request to the supervisory of personal data authority. For Romania, you may
                        find the contact data below:</p>



                    <p>What information we collect from you?

                        We collect from you the following information with the purpose of processing your order:

                        When ordering as a company:
                        Company name
                        VAT code
                        Full name
                        Email address
                        Billing address
                        Payment data
                        IP address
                        Regarding the payment data, please be informed that we do not store your payment information
                        (such as full credit card numbers). When placing an order, for the sole purpose of processing
                        payments, we will transmit your billing data (company name, full name, email address and postal
                        address) to our payment processors.

                        We may ask for additional information or documents (such as a photo of your legal ID) to verify
                        your identity and to prevent fraud. This additional information or documents will be deleted
                        from our systems after we've verified your identitiy.

                        How we collect the data?

                        We collect the personal data directly from you, when you create an account on this site,
                        members.<%=locals.APP_URL%>

                            What are the legal bases for the processing of personal data?

                            We will use your personal information/data having the following the legal bases:</p>
                </section>
            </article>
        </div>
    </div>

    <%- include("../../fragments/end.ejs") %>