<%- include("../../fragments/head.ejs") %>

    <div class="pricing page-section">
        <h2 class="page-section__title">
            ADMIN
        </h2>
        <div class="page-section__content horizontal-split">
            <div class="horizontal-split__left">
                <%- include("../../components/side-menu-admin.ejs") %>
            </div>

            <div class="horizontal-split__right">
                <div class="profile-pages">
                </div>
            </div>

        </div>
    </div>

    <%- include("../../fragments/end.ejs") %>