<style>
    .code-block {
        width: fit-content;
        min-width: 30rem;
        max-width: 100%;
        border-radius: 5px;
        overflow: auto;

    }

    .code-block .caption {

        padding: 1rem;
        background-color: orange;
    }

    .code-block .language-markup {
        background-color: rgb(165 137 255 / 38%);
    }

    .language-markup {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .code-output {
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: monospace;
        /* font-size: 1rem; */
    }
</style>
<figure class="code-block">
    <figcaption class="caption"><span>Response</span></figcaption>
    <pre class="language-markup">
        <code class="code-output" id="code-output">
        </code>
    </pre>
</figure>