<ul class="side-menu ">
    <li class="side-menu-group">
        <h3>ADMIN TOOLS</h3>
        <ul id="profileSideMenu">
            <li><a href="/admin/dashboard" class="side-menu-group__item">dashboard</a>
            <li><a href="/admin/plans" class="side-menu-group__item">plans</a>
            <li><a href="/admin/users" class="side-menu-group__item">users</a>
            <li><a href="/admin/subscriptions" class="side-menu-group__item">subscriptions</a>
            <li><a href="/admin/logs" class="side-menu-group__item">logs</a>
            </li>
        </ul>
    </li>
</ul>