<ul class="side-menu ">
    <li class="side-menu-group">
        <h3>API</h3>
        <ul id="profileSideMenu">
            <li><a href="/user/dashboard/api-keys" class="side-menu-group__item">API Keys</a>
            </li>
            <li><a href="/user/dashboard/statistics">Statistics</a></li>
        </ul>
    </li>
    <li class="side-menu-group">
        <h3>DOCUMENTATION</h3>
        <ul id="profileSideMenu">
            <li><a href="/docs" class="side-menu-group__item">Docs</a>
            </li>
            <li><a href="/tutorials">Tutorials</a></li>
            <li><a href="/samples">Samples</a></li>
        </ul>
    </li>
</ul>