<ul class="side-menu ">
    <li class="side-menu-group">
        <h3>User</h3>
        <ul id="profileSideMenu">
            <li><a href="/user/profile" class="side-menu-group__item">information</a>
            </li>
            <li><a href="/user/profile/reset-password">Reset Password</a></li>
            <li><a href="/user/profile/service-plan">Service Plan</a></li>
        </ul>
    </li>
</ul>